body {
  margin: 0;
  font-family: Sunny Spells;
  /* font-family: "Times New Roman", Times, serif; */
  background: linear-gradient(to right, #e3f2c1, #f6ffde);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
